/node_modules/
.env
logs/
.cache/
docs/   
uploads/

# Python Virtual Environment
venv/
.venv/
AI/venv/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# IDE and System Files
.vscode/
.idea/
.DS_Store

